.iconButton{
    float: right;
    margin-top: 1%;
}
.materialTable{
    padding-top: 3%;
}
.selectBox{
    margin-top: 2%;
    margin-left: 25%;
    /* display: inline-flex; */
}
.searchBox{
    margin-top: 2%;
    margin-left: 0%;
    width: 300px;
}
.submitButton{
    margin-top: 2%;
    background-color:'#8bc34a';
}
.refreshButton{
    margin-top: 2%;
}
/* .completeSearch{
    margin-top: 6%;
} */